<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h2>Router Description</h2>
    <table class="table table-sm table-dark">
        <tr>
            <th>Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>('/')</td>
            <td>Home</td>
        </tr>
    </table>
    <h2>USERS</h2>
    <table class="table table-sm table-dark">
        <tr>
            <th>Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>('/users') <br><br> ('/user/:id</td>
            <td>Getting all users <br><br> Getting a single user using an id </td>
        </tr>
        <tr>
            <td>POST</td>
            <td>('/user')</td>
            <td>Creating a new user</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>('/user/:id')</td>
            <td>Updating an existing user details using id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>('/user/:id')</td>
            <td>Deleting an existing user using an id</td>
        </tr>
    </table>
    <h2>PRODUCTS</h2>
    <table class="table table-sm table-dark">
        <tr>
            <th>Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>('/products') <br><br> ('/product/:id</td>
            <td>Getting all products <br><br> Getting a single product using an id </td>
        </tr>
        <tr>
            <td>POST</td>
            <td>('/product')</td>
            <td>Adding a new product</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>('/product/:id')</td>
            <td>Updating an existing product details using id</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>('/product/:id')</td>
            <td>Deleting an existing product using an id</td>
        </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>   
</body>
</html>