<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Router Description</h2>
    <table class="table table-sm">
        <tr>
            <th>Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>('/')</td>
            <td>Home</td>
        </tr>
    </table>
    <h2>USERS</h2>
    <table class="table table-sm">
        <tr>
            <th>Methods</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>('/users') <br><br> ('/user/:id</td>
            <td>Getting all users <br><br> Getting a single user using an id </td>
        </tr>
        <tr>
            <td>POST</td>
            <td>('/user')</td>
            <td>Creating a new user</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>('/user/:id')</td>
            <td>Updating an existing user details using id</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>('/user')</td>
            <td>Creating a new user</td>
        </tr>
    </table>
       
</body>
</html>